/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] {
  --card-bg: rgba(255, 255, 255, 0.2);
}
/* 顶部导航栏透明 */
.navbar,
.navbar.navbar-default {
  background-color: transparent !important;
  box-shadow: none !important;
}

